.ion-content-full-screen {
  --ion-padding-start: 0; /* Elimina el relleno en el lado izquierdo */
  --ion-padding-end: 0; /* Elimina el relleno en el lado derecho */
  padding-left: 50px; /* Espacio a la izquierda */
  padding-right: 50px; /* Espacio a la derecha */
}

.rectangulo {
  width: 100%;
  height: 35px;
  background-color: #74BFBB;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}

.rectangulo2 {
  width: 100%;
  height: auto;
  background-color: #EFEEEE;
  display: flex;
  align-items: center;

  justify-content: center; /* Centra horizontalmente el contenido */
}

.rectangulo3 {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  background-image: url('./../../../src/assets/imagenes/fondo.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  color:#005e4f; /* Color del texto */
  font-size: 30px; /* Tamaño del texto */
  text-align: center;
  height: 600px;
  opacity: 0.7;
}

.rectangulo4 {
  width: 100%;
  height: 1100px;
  background-color: #ffffff;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}
.rectangulo5 {
  width: 100%;
  height: 500px;
  background-color: #EFEEEE;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  position: relative
}
.rectangulo6 {
  width: 100%;
  height:60px;
  background-color: #EFEEEE;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}
.rectangulo7{
  width: 100%;
  height:auto;
  background-color: #EFEEEE;
  display: flex;

  justify-content: center; /* Centra horizontalmente el contenido */
}
.rectangulo8{
  width: 100%;
  height:auto;
  background-color: #EFEEEE;
  display: flex;

  justify-content: center; /* Centra horizontalmente el contenido */
}
.rectangulo9{
  width: 100%;
  height:auto;
  background-color: #ffffff;
  display: flex;

  justify-content: center; /* Centra horizontalmente el contenido */
}
.rectangulo10 {
  width: 100%;
  height:auto;
  background-color: #ffffff;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}

.rectangulo11 {
  width: 100%;
  height:280;
  background-color: #ffffff;
  display: flex;
 /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}
.rectangulo12 {
  width: 100%;
  height: auto;
  background-color: #EFEEEE;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  position: relative
}
.rectangulo13 {
  width: 100%;
  height: auto;
  background-color: #EFEEEE;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  position: relative
}
.rectangulo14 {
  width: 100%;
  height:60px;
  background-color: #ffffff;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}
.custom-button {
  --background: #498B87; /* Cambia el color de fondo a rojo */
  --color: white; /* Cambia el color del texto a blanco */
  --box-shadow: none; /* Quítale la sombra al botón */
  /* También puedes usar las siguientes propiedades para asegurarte de que la sombra esté desactivada */
  --ion-box-shadow: none;
  box-shadow: none;
}

.lista-sin-lineas ion-item {
  --inner-border-width: 0; /* Quítale las líneas a los elementos ion-item */
  --border-width: 0; /* Quítale las líneas a los elementos ion-item */
}

.barra-uno{

  width: 50px;
  height: 10px;
  background-color: #76B8B4;
  display: flex;
top: 0;
  justify-content: center; /* Centra horizontalmente el contenido */
}
.barra-dos{

  width: 50px;
  height: 10px;
  background-color: #76B8B4;
  position: absolute;
  top: 0; /* Posición en la parte superior del rectángulo */
  left: 0;
  right: 0; /* Centra horizontalmente el contenido */
}
.boton-con-imagen {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f4/WOM_logo.png'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta correcta de tu imagen */
  background-size: cover; /* Puedes ajustar esto según tus preferencias */
  background-repeat: no-repeat;
  text-align: center; /* Centra el texto dentro del botón */
  color: white; /* Cambia el color del texto si es necesario */
}
.imagen-centrada {
  display: flex;
  justify-content: center; /* Centra horizontalmente */

  width: 200px; /* Ajusta el ancho de la imagen al 100% del contenedor (ion-col) */
  /* Mantiene la relación de aspecto original */
}




.titulo {
  color:#498b97;
  font-size: 40px;
  margin: 0;
}
/* Elimina los bordes del ion-card */
ion-card {
  border: none;
  box-shadow: none;
}
h1 {
  text-align: center;
  color: #498b87;
}

/* Estilo para el párrafo p */
p {
  color: #498b87;
}

/* Estilo para el fondo */
.container {
  --background: #efeded;
}

/* Estilo para centrar el párrafo */
.centered-p {
  text-align: center;
}
