<ion-content class="ion-content-full-screen" style="background-color: white;">
  <ion-grid>
    <ion-row class="rectangulo">
      <ion-col size="1"></ion-col>
      <ion-col class="ion-text-start"  style="color: white;" >CLIMATIZA TU ESPACIO</ion-col>
      <ion-col class="ion-text-center" style="color: white;"><ion-icon name="call"></ion-icon>+569 00000000</ion-col>
      <ion-col class="ion-text-end"    style="color: white;"><ion-icon name="logo-instagram"></ion-icon></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row class="rectangulo2">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-button fill="clear">
          <img src="./../../assets/imagenes/logo-sin-fondo.png" alt="" height="150px" width="200px">
        </ion-button>
      </ion-col>
      <ion-col>
          <ion-button style="color: #498B87;font-size: large;" fill="clear" (click)="scrollToSection('rectangulo');">INICIO</ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="color: #498B87; font-size: large;" fill="clear" (mouseenter)="showMenu = true"  >NOSOTROS</ion-button>
        <div *ngIf="showMenu" class="menu-desplegable">
          <ion-list class="lista-sin-lineas">
            <ion-item style="color: #498B87;" class="menu-item" (click)="scrollToSection('rectangulo4'); showMenu = false">¿QUIENES SOMOS?</ion-item>
          </ion-list>
        </div>
      </ion-col>

      <ion-col>
        <ion-button style="color: #498B87;font-size: large;" fill="clear" (mouseenter)="showMenu2 = true">SERVICIOS</ion-button>
        <div *ngIf="showMenu2" class="menu-desplegable">
          <ion-list class="lista-sin-lineas">
            <ion-item style="color: #498B87;" class="menu-item" (click)="scrollToSection('rectangulo6'); showMenu2 = false">¿NUESTROS SERVICIOS?</ion-item>
            <!-- Agrega más opciones según tus necesidades -->
          </ion-list>
        </div>
      </ion-col>
      <ion-col>
        <ion-button style="color: #498B87;font-size: large;" fill="clear" (mouseenter)="showMenu3 = true" >FAQ</ion-button>
        <div *ngIf="showMenu3" class="menu-desplegable" >
          <ion-list class="lista-sin-lineas">
            <ion-item style="color: #498B87;" class="menu-item" (click)="scrollToSection('rectangulo14'); showMenu3 = false">CONSULTAS</ion-item>

            <!-- Agrega más opciones según tus necesidades -->
          </ion-list>
        </div>
      </ion-col>
      <ion-col>
        <ion-button expand="full" class="custom-button" (click)="scrollToSection('rectangulo15');">
          CONTACTANOS
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>

    </ion-row>
    <ion-row class="rectangulo3">
      <ion-col size="1"></ion-col>
      <ion-col>
        <h1 style="font-weight: bold; font-size: 29px;">VENTA E INSTALACION DE CALEFACCION EN TODA LA REGION METROPOLITANA</h1>
        <h3 >Contamos con Personal capacitado y certificado</h3>
        <ion-button class="custom-button" (click)="scrollToSection('rectangulo6')">VER SERVICIOS</ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col class="barra-uno"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <br><br>
    <ion-row class="rectangulo4">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-row >
          <ion-col class="imagen-centrada">
            <img src="./../../assets/imagenes/logo-sin-fondo.png" height="300px" width="350px" >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: justify;color: #696B6D;">
            <h4>
                En Climatización,  somos una emh4resa nacional con más de 5 años de experiencia en  el área de  Climatización de Ambientes.
                Disponemos de las mejores marcas reconocidas a nivel nacional e internacionalidad  a precios muy competitivos.
            </h4>
              <br>
            <h4>
                Ofrecemos instalación de aire acondicionado, sistemas de calefacción central, venta e instalación de ablandador
                de agua. Además  de ser  rápido y garantizado, es realizado por profesionales certificados para que disfrutes del mejor ambiente.
            </h4>
              <br>
            <h4>
                Garantizamos todos nuestros equipos e instalaciones y disponemos de servicio técnico si ocurriera algo en el
                funcionamiento de los mismos, nos comprometemos a dar soluciones inmediatas en tu hogar.
            </h4>
          </ion-col>

        </ion-row>
        <br>
        <ion-row>
          <ion-col class="imagen-centrada">
            <ion-button  class="custom-button" (click)="scrollToSection('rectangulo15');">
              CONTACTANOS
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col >
        <img src="https://static.wixstatic.com/media/0b8a58_1e52c1335e554947980d0272f746c8b1~mv2.jpg/v1/fill/w_608,h_1000,al_c,q_85,enc_auto/0b8a58_1e52c1335e554947980d0272f746c8b1~mv2.jpg" height="auto" width="auto" >
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row class="rectangulo6">
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col class="barra-uno"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row class="rectangulo7">
      <ion-col size="1"></ion-col>
      <ion-col>
        <h1 style="font-weight: bold; font-size: 29px; text-align: center;" class="titulo">NUESTRAS ACTIVIDADES</h1>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row class="rectangulo8">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-card class="rectangulo9">
          <ion-grid>
            <ion-row>
              <ion-col class="ion-padding">
                <a href="../aire/">
                  <ion-img src="./../../assets/imagenes/AiresDeEmpresa.jpg"></ion-img>
                </a>
              </ion-col>
              <ion-col class="ion-padding">
                <a href="../oficinas/">
                  <ion-img src="./../../assets/imagenes/Oficina.jpg"></ion-img>
                </a>
              </ion-col>
              <ion-col class="ion-padding">
                <a href="../mantencion/">
                  <ion-img src="./../../assets/imagenes/Instalador.jpg"></ion-img>
                </a>
              </ion-col>
              <ion-col class="ion-padding">
                <a href="../reparacion/">
                  <ion-img src="./../../assets/imagenes/Instalador2.jpg"></ion-img>
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <br><br>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row class="rectangulo14">
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col class="barra-uno"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row class="rectangulo10">
      <ion-col size="1"></ion-col>
      <ion-col>
        <h1 style="font-weight: bold; font-size: 29px; text-align: center;" class="titulo">¿COMO TRABAJAMOS?</h1>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row class="rectangulo11">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-card class="rectangulo11">
          <ion-grid >
            <ion-row>

              <ion-col>
                <ion-card class="ion-padding" style="text-align: center; width: 100%;" class="colordefondo">
                  <ion-card-header>
                    <ion-icon name="checkmark-circle-sharp" style=" font-size: 50px; display: block; margin: 0 auto; color: #498B87;;"></ion-icon>
                  </ion-card-header>
                  <ion-card-content style="color: #498B87;text-align: center;">
                    Evaluación técnica presencial, donde evaluamos las distintas variables de acuerdo a lo que necesita nuestr@ cliente.
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="ion-padding" style="text-align: center; width: 100%;"class="colordefondo">
                  <ion-card-header>
                    <ion-icon name="create-sharp" style=" font-size: 50px; margin: 0 auto;color: #498B87;"  ></ion-icon>
                  </ion-card-header>
                  <ion-card-content style="color: #498B87;text-align: center;">
                    Exponemos las distintas alternativas de climatización factibles para su domicilio o empresa.
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="ion-padding" style="text-align: center; width: 100%;"class="colordefondo">
                  <ion-card-header>
                    <ion-icon name="calendar-sharp" style="font-size: 50px;display: block; margin: 0 auto;color: #498B87;"></ion-icon>
                  </ion-card-header>
                  <ion-card-content style="color: #498B87;text-align: center;">
                    Agendamos la instalación o el mantenimiento en un horario disponible y conveniente para usted.
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="ion-padding" style="text-align: center; width: 100%;"class="colordefondo">
                  <ion-card-header>
                    <ion-icon name="build-sharp" style=" font-size: 50px;display: block; margin: 0 auto; color: #498B87;;"></ion-icon>
                  </ion-card-header>
                  <ion-card-content style="color: #498B87;text-align: center;">
                    Puede realizar con nuestro equipo todos los mantenimientos preventivos a sus equipos de climatización.
                  </ion-card-content>
                </ion-card>

              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card>
        <br><br>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>


      <ion-row class="rectangulo12">
        <ion-col size="1"></ion-col>
        <ion-col>
          <div>
            <br><br>
            <h1 style="font-weight: bold; font-size: 29px; text-align: center;" class="titulo">CONSULTAS</h1>
            <p class="centered-p">En nuestra sección de preguntas frecuentes respondemos las principales consultas de nuestros clientes</p>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>


      <ion-row class="rectangulo13">



      <ion-row style="justify-content: center; align-items: center;">
        <ion-card style="width: 300px; height:220px;">
          <ion-card-header style="color: #498B87;">
            <ion-icon name="chevron-forward-outline" style="color: #498b87; font-size: 1.5rem;"></ion-icon>
            <ion-card-title style="margin-left: 1px;"   style="color: #498b87;font-weight: bold;text-align: center;" >¿EN QUÉ COMUNAS TRABAJAN?</ion-card-title>
            <ion-card-subtitle   style="color: #498b87;text-align: justify;">Actualmente trabajamos en todas las comunas de la Región Metropolitana.</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card style="width: 300px; height:220px;">
          <ion-card-header style="color: #498b87;">
            <ion-icon name="chevron-forward-outline" style="color: #498b87; font-size: 1.5rem;"></ion-icon>
            <ion-card-title style="margin-left: 1px;"   style="color: #498b87;font-weight: bold;text-align: center;">¿QUÉ MEDIOS DE PAGO RECIBEN?</ion-card-title>
            <ion-card-subtitle   style="color: #498b87;text-align: justify;">Puedes pagar a través de:Efectivo
              Transferencia electrónica
              </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-row>
    </ion-row>
      <ion-row style="justify-content: center; align-items: center;" class="rectangulo13">
        <ion-card style="width: 300px; height:220px;">
          <ion-card-header style="color: #498b87;">
            <ion-icon name="chevron-forward-outline" style="color: #498b87; font-size: 1.5rem;"></ion-icon>
            <ion-card-title style="margin-left: 1px;"   style="color: #498b87;font-weight: bold;text-align: center;" >¿REALIZAN INSTALACIÓN DE CALDERAS PARA AGUA CALIENTE SANITARIA?</ion-card-title>
            <ion-card-subtitle   style="color: #498b87;text-align: justify;">Sí, trabajamos con calderas mixtas que permiten la producción de agua caliente para vivienda o empresa.</ion-card-subtitle>
          </ion-card-header>

        </ion-card>
        <ion-card style="width: 300px; height:220px;">
          <ion-card-header style="color: #498b87;">
            <ion-icon name="chevron-forward-outline" style="color: #498b87; font-size: 1.5rem;"></ion-icon>
            <ion-card-title style="margin-left: 1px;" style="color: #498b87;font-weight: bold;text-align: center;">¿LAS INSTALACIONES DE EQUIPOS REALIZADAS TIENEN GARANTÍA?</ion-card-title>
            <ion-card-subtitle  style="color: #498b87;text-align: justify;">Sí, todas nuestras instalaciones de equipos de climatización cuentan con un tiempo determinado de garantía.</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-row>
      <ion-row class="rectangulo7">
        <ion-col size="1"></ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="1"></ion-col>
        <ion-col class="barra-uno"></ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row class="rectangulo15">
        <ion-col size="1"></ion-col>
        <ion-col>
          <h3 style="color: #F6E440;font-size: 30px;font-weight: bold;">QUIERES COTIZAR?</h3>
          <h1 style="color: white;font-size: 40px;font-weight: bold;" >OBTEN LA MEJOR SOLUCION A LA CLIMATIZACION DE AMBIENTES</h1>
          <br><br><br><br>
          <!-- Aquí es donde se coloca el rectángulo debajo del título h1 -->
          <ion-row class="rectangulo17">
            <ion-col size="1"></ion-col>
            <ion-col>
            <ion-row>
              <ion-col style="text-align: left;">
                <div style="margin: 15px;">
                  <p style="color: #74BFBB;font-weight: bold;font-size: 35px;margin: 0;">CONTACTANOS</p>
                  <p style="color: #498B87;font-weight: bold;font-size: 50px;margin: 0;">Formulario de contacto</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col >
                <ion-list style="background-color: #EFEEEE;">
                  <ion-grid>
                    <ion-row style="margin: 20px;">
                      <ion-col>
                        <ion-item>
                          <ion-label position="floating" style="color: #498B87;">Nombre y Apellido</ion-label>
                          <ion-input type="text" name="nombreApellido" ></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row style="margin: 20px;">
                      <ion-col>
                        <ion-item >
                          <ion-label style="color: #498B87;" position="floating">Email</ion-label>
                          <ion-input type="email" name="email"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row style="margin: 20px;">
                      <ion-col>
                        <ion-item >
                          <ion-label style="color: #498B87;" position="floating">Teléfono</ion-label>
                          <ion-input type="tel" name="telefono"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row >
                    <ion-row style="margin: 20px;">
                      <ion-col>
                        <ion-item >
                          <ion-label style="color: #498B87;" position="floating">Asunto</ion-label>
                          <ion-input type="text" name="asunto"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                </ion-grid>
                </ion-list>
              </ion-col>
              <ion-col >
                <ion-list style="background-color: #EFEEEE;">
                  <ion-grid>
                    <ion-row style="margin: 20px;">
                      <ion-col>
                        <ion-item >
                          <ion-label style="color: #498B87;" position="floating">Mensaje</ion-label>
                            <ion-textarea name="mensaje" style="min-height: 207px;min-width: 100%;"></ion-textarea>
                          </ion-item>
                      </ion-col>
                    </ion-row>
                </ion-grid>
                </ion-list>
                <ion-button   (click)="enviarFormulario()" expand="full" class="custom-button" >Enviar</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="1"></ion-col>
          </ion-row>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row class="rectangulo16">
        <ion-col size="1"></ion-col>
        <ion-col style="text-align: left;">
          <div style="margin: 0px;">
            <p style="color: #74BFBB;font-weight: bold;font-size: 35PX;margin: 0;">CONTACTANOS</p>
            <p style="color: #498B87;font-weight: bold;font-size: 30px;margin: 0;">Formulario de contacto</p>
          </div>
          <ion-row class="rectangulo18">
            <ion-col size="1"></ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="1"></ion-col>
            <ion-col class="barra-tres"></ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
          <ion-list style="background-color: #EFEEEE;">

          <ion-icon name="time-outline" style="color: #498B87;"></ion-icon>
          <ion-label style="color: #498B87;">Lunes a viernes 09:00 a 18:00</ion-label>
          <br><br>
          <ion-icon name="phone-portrait-outline" style="color: #498B87;"></ion-icon>
          <ion-label style="color: #498B87;">+56 9 58280310</ion-label>
          <br><br>
          <ion-icon name="logo-whatsapp" style="color: #498B87;"></ion-icon>
          <ion-label style="color: #498B87;">+56 9 58280310</ion-label>
          <br><br>
          <ion-icon name="mail-outline" style="color: #498B87;"></ion-icon>
          <ion-label style="color: #498B87;">correoEjemplo@gmail.com</ion-label>
          <br><br>
          <ion-icon name="logo-instagram" style="color: #498B87;"></ion-icon>
          <ion-label style="color: #498B87;">@InstaEjemplo</ion-label>
        </ion-list>
      </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

        <ion-col size="1"></ion-col>
    </ion-grid>
</ion-content>
